* {
    box-sizing: border-box;
}

#container {
    /* display: flex; */
    display: inline-flex;
    border: 2px solid black;
    flex-wrap: wrap;
    align-items: center;
}

.card {
    border: 2px solid black;
    box-sizing: content-box;
    align-items: center;
    display: grid;
}

/* .square {
    display: flex;
    background-color: salmon;
    box-sizing: content-box;
    justify-content: center;
} */

/* why does this box not respond to css rules? */

.photos {
    border-radius: 50%;
    align-items: center;
    border: 3px solid black;
}

header {
    font-size: 26px;
}

/* .customer {
    background-color: salmon;
} */

/* .emails {
    background-color: red;
}

.towns {
    background-color: purple;
}

/* .dates {
    background-color: orange;
} */

/* .registration {
    background-color: aqua;
    align-items: center;
} */