* {
    box-sizing: border-box;
}

.card {
    background-color: gray;
    height: 50px;
}

.container {
    background-color: blue;
    height: 50px;
}

.square {
    display: flex;
    background-color: aqua;
    border: solid 2px black;
    width: 85px;
    height: 80px;
}

.square1 {
    background-color: gray;
}

.photos {
    background-color: yellow;
}

.customer {
    background-color: green;
}

.emails {
    background-color: red;
}

.towns {
    background-color: purple;
}

.dates {
    background-color: orange;
}

.registration {
    background-color: aqua
}