* {
    box-sizing: border-box;
}

#container {
    border: 2px solid black;
}

.card {
    height: 300px;
    width: 300px;
    border: 2px solid black;
}

.square {
    display: flex;
    background-color: salmon;
}

.photos {
    background-color: yellow;
}

.customer {
    background-color: salmon;
}

.emails {
    background-color: red;
}

.towns {
    background-color: purple;
}

.dates {
    background-color: orange;
}

.registration {
    background-color: aqua
}